{% extends "layout.twig" %}

{% block content %}
  <h1>Modifier un article</h1>
  <form class="" action="{{ path_for('postUpdate', { 'id' : post.id }) }}" method="post">
    <div class="form-group">
      <label for="firstname">Titre :</label>
      <input type="text" name="title" value="{{ post.title }}" placeholder="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastname">Contenu :</label>
      <textarea name="content" id="editor">{{ post.content }}</textarea>
    </div>

    <div class="form-group">
      <label for="type">Catégorie :</label>
      <select class="form-control" name="categorie">
        {% for categorie in categories %}
          {% if categorie.id == post.categorie %}
            <option value="{{ categorie.id }}" selected>{{ categorie.name }}</option>
          {% else %}
            <option value="{{ categorie.id }}">{{ categorie.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <input type="hidden" name="id" value="{{ post.id }}">
      <input type="submit" class="btn btn-primary" value="Modifier">
    </div>
  </form>
{% endblock %}
